[user]
	email = haruta@s3-odara.net
	name = s3-odara
	signingkey = F1A2E293CE3B8617!
[commit]
	gpgsign = true
	verbose = true
[merge]
	tool = vimdiff
	ff = false
[push]
	autoSetupRemote = true
[gpg]
	format = openpgp
[diff]
	algorithm = patience
	tool = vimdiff
[difftool]
	prompt = true
[pull]
    ff = only
[color "blame"]
    highlightRecent = "#60655f", 4181 days ago, "#646d63", 2584 days ago, "#687566", 1597 days ago, "#6c7d69", 987 days ago, "#70856c", 610 days ago, "#738d70", 377 days ago, "#779673", 233 days ago, "#7b9e76", 144 days ago, "#7ea779", 89 days ago, "#82af7c", 55 days ago, "#86b87f", 34 days ago, "#89c082", 21 days ago, "#8dc985", 13 days ago, "#90d287", 8 days ago, "#94db8a", 5 days ago, "#97e48d", 3 days ago, "#9bed90", 2 days ago, "#9ef693", 1 days ago, "#a2ff95"
[blame]
	coloring = highlightRecent
	date = human
[credential]
	helper = store
[core]
	untrackedCache = true
[fetch]
	prune = true
[rebase]
	autostash = true
	autosquash = true
[alias]
	forcepush = push --force-with-lease --force-if-includes
