[user]
	email = haruta@s3-odara.net
	name = s3-odara
	signingkey = F1A2E293CE3B8617!
[commit]
	gpgsign = true
	verbose = true
[merge]
	tool = vimdiff
	ff = false
[push]
	autoSetupRemote = true
[gpg]
	format = openpgp
[diff]
	algorithm = patience
	tool = vimdiff
[difftool]
	prompt = true
[pull]
    ff = only
[color "blame"]
	highlightRecent = "#c4d5bb", 23 month ago, "#c3d6b9", 22 month ago, "#c2d6b6", 21 month ago, "#c0d7b4", 20 month ago, "#bfd8b1", 19 month ago, "#bed9af", 18 month ago, "#bcd9ac", 17 month ago, "#bbdaa9", 16 month ago, "#b9dba7", 15 month ago, "#b8dca4", 14 month ago, "#b6dca1", 13 month ago, "#b5dd9e", 12 month ago, "#b4de9c", 11 month ago, "#b2de99", 10 month ago, "#b1df96", 9 month ago, "#afe093", 8 month ago, "#aee090", 7 month ago, "#ace18d", 6 month ago, "#abe28a", 5 month ago, "#a9e287", 4 month ago, "#a1e576", 3 month ago, "#a6e480", 2 month ago, "#a1e576", 1 month ago, "#a3e57a", 3 weeks ago, "#a1e576", 2 weeks ago, "#a0e673", 1 week ago, "#9ee76f"
[blame]
	coloring = highlightRecent
	date = human
[credential]
	helper = store
[core]
	untrackedCache = true
[fetch]
	prune = true
[rebase]
	autostash = true
	autosquash = true
[alias]
	forcepush = push --force-with-lease --force-if-includes
